.page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 28px;
        max-width: 500px;

        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 32px;
            text-align: center;
            margin-bottom: 25px;
        }

        &__username {
            margin-bottom: 20px;
        }

        &__username,
        &__password {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            padding: 6px 10px;
            border: 0;  
            border-bottom: 1px solid $grey;

            &:focus {
                outline: 0;
            }
        }

        &__link-forgot {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $black;
            text-decoration: none;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
        }

        &__wrapper-comptable {
            display: flex;
            gap: 10px;
            position: relative;
            
            input {
                border-color: $grey;
                &:checked {
                    background-color: $grey;
                }
            }

            label {
                color: $grey;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }

        button {    
            width: fit-content;
            color: $white;
            border: 0;
            background-color: $green;
            min-width: 200px;
            padding: 10px 20px;
            border-radius: 15px;
            margin: 0 auto;
        }
    }
}